@model TreeStore.Models.Entities.Setting
@{
    ViewData["Title"] = "Ayarlar";
}
<h2>Ayarlar</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}


<form asp-area="Admin" role="form" asp-controller="Settings" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="WelcomeText" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="WelcomeText" rows="10" class="form-control"></textarea>
                <span asp-validation-for="WelcomeText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MembershipAgreement" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="MembershipAgreement" rows="10" class="form-control"></textarea>
                <span asp-validation-for="MembershipAgreement" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoTitle" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoDescription" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="SeoDescription" class="form-control"></textarea>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoKeywords" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="SeoKeywords" class="form-control"></textarea>
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="About" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                @Model.UpdateDate.ToString("dd MMMM yyyy dddd HH:mm:ss")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrivacyPolicy" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="PrivacyPolicy" rows="10" class="form-control"></textarea>
                <span asp-validation-for="PrivacyPolicy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TermsOfUse" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="TermsOfUse" rows="10" class="form-control"></textarea>
                <span asp-validation-for="TermsOfUse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>

    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
