@{
    ViewData["Title"] = "Hakkında";
}
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Hakkımızda</h1>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <p>@Html.Raw(ViewBag.About)</p>
        </div>
    </section>
</main>