
@{
    ViewData["Title"] = "Kullanım Koşulları";
}

<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Kullanım Koşulları</h1>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <p>@Html.Raw(ViewBag.Settings.TermsOfUse)</p>
        </div>
    </section>
</main>
